.k-menu{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background: #fff;
  font-size: 14px;
  color:#000000e0;
  a{
    text-decoration: none;
    color:inherit;
  }
  li{
    list-style-type: none;
  }
   .k-menu-group{
     color: #00000073;
     padding-left: 32px;
     margin: 10px 0;
     cursor: auto;
   }
  
  .k-menu-item{
    cursor: pointer;
    line-height: 40px;
    margin-bottom: 2px;
    height: 40px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
    .k-menu-icon{
      position: absolute;
      right: 14px;
      top: 50%;
      height: 14px;
      width: 14px;
      transition: all 0.3s ease;
    }
    &:hover{
      background: #f0f2f5;
    }
  }

}
