.k-progress-line{
  background-color: #e4e5e7;
  margin-right: 5px;
  overflow: hidden;
}
.k-progress{
  display: flex;
  align-items: center;
}
%center-shared{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.k-progress-circle {
  @extend %center-shared;
  background-color: #e4e5e7;
  background-image: conic-gradient(var(--progress-color) 0%, var(--progress-color) var(--progress), transparent var(--progress), transparent 100%);
}

.k-progress-dashboard{
  @extend %center-shared;
  background-image: conic-gradient(from -140deg,var(--progress-color) 0%, var(--progress-color) var(--progress), #e4e5e7 var(--progress), #e4e5e7 280deg,transparent 280deg,transparent 100%);
}

@keyframes progress-animation {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(calc((var(--progress) / 100) * 360deg - 90deg));
  }
}