.k-carousel {
  overflow: hidden;
  white-space: nowrap; /* 设置内容不换行 */
  position: relative;
}
.k-carousel-s{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  margin: 8px;
}
.k-carousel-s > li >button{
  width: 18px;
  height: 4px;
  margin: 4px 3px;
  background-color: rgba(215, 215, 215, 0.616);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.k-carousel-content{
  height: 100%;
}
.k-carousel-content > div {
  width: 100%;
  height: 100%;
  background-color: red;
  display: inline-block; /* 设置走马灯项的内边距 */
}
