@mixin k-avater($width:40px,$height:40px){
  width: $width;
  height: $height;
}
.k-avatar{
  overflow: hidden;
  > *{
    width: 100%;
    height: 100%;
  }
  &.square{
    border-radius: 0px;
  }
  &.circle{
    border-radius: 50%;
  }
}
.k-avatar-default{
  @include k-avater;
}
.k-avatar-large{
  @include k-avater(50px,50px);
}
.k-avatar-small{
  @include k-avater(24px,24px);
}