

.k-link{
  text-decoration: none;
  cursor: pointer;
  color:var(--k-link);
  &:hover{
    opacity: 0.7;
  }
  &.default:hover{
    color:var(--el-color-primary)
  }
  &.underline:hover{
    text-decoration: underline;
  }
  &.disabled{
    cursor: not-allowed;
    color:var(--k-link);
    opacity: 0.8;
    &:hover{
      color: var(--k-link);
    }
  }
}

